<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="ApplicationConfiguration" 
             type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             requirePermission="false" />
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <ApplicationConfiguration>
    <add key="ApplicationTitle" value="BlockSite Service"  />
    <add key="PollIntervalInSeconds" value="60"  />
    <add key="KillBrowser" value="True" />
    <add key="ForceShutdown" value="False" />
    <add key="BrowserType" value="Firefox"  /> <!-- Options are Chrome, Firefox, MicrosoftEdge or IExplore-->
    <add key="CleanLogFiles" value="True" />
    <add key="MaxAgeOfLogFilesInDays" value="7" />
  </ApplicationConfiguration>
</configuration>